.back-imagegal{
    margin-top: 7%;
    font-size: 80%;
    background: linear-gradient(to bottom, #86d6dd, #c23142);
    font-family: 'Kanit', sans-serif;
}
/* .img-image{
    height: 20%;
    width:30%
} */
.imggal-img{
    height: 90%;
    width:100%
}